/*
header {
    background-color: #ffcc66;
    position: absolute;
    float: none;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    align-items: center;
    display: flex;
}
header * {display:inline}
header li {margin: 30px; }
header li a {
   color: black;
   text-decoration: none;
   font-size: 20px;
   font-family: arial, sans-serif;
 }
header a:visited {color: white}
header a:hover {color: #003366}
.media {padding-left: 2000px}
.media i {font-size: 35px}
article div img {margin-top: 90px; width: 2500px}
body {background-color: #a39c90
}
*/

/* EXPERIMENTAL */
.nav-list {
  background-color: #ffcc66;
  padding: 1rem 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-family: arial;
  display: flex;
  flex-wrap: wrap;
  flex: 1;

}
.nav-item {
  list-style: none;
  margin-right: 2em;
  margin-left: 2em;
}
.nav-item a {
    text-decoration: none;
    color: black;
}
.nav-item a:hover {color: white}
.menu-list {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.menu-item {list-style: none; padding: 60px;}
.menu-item img {width: 400px}
.menu-item h2 {
  font-family: arial;
  font-style: italic;
  text-align: center;
}
.menu-item p {
  font-family: arial;
  text-align: center;
}
.order {
  padding: 30px;
  margin-top: 80px
}
.container {
  display: flex;
  padding: 30px
  flex: 1;
  justify-content: center;
}
.form {}
.sidebar {
  padding-left: 80px;
}
.review {
  background-color: #ffcc66;
  box-shadow: 10px 10px;
  padding: 30px;
  font-family: arial;
  margin-right: 60px
}
.order
body {background-color: #999966}
article {}
article h1 {
  font-size: 40px;
  font-family: arial;
  font-style: italic;
  text-align: center;
}
footer {text-align: center; display: none}
footer ul {list-style: none; display: block;}
